# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# Streamlit Cache
.streamlit/

# Database Files
*.db

# Temporary Files
temp/

# IDE Files
.vscode/
.idea/